doctype html
html
	head
		title= title
		link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/boostrap.min.js")
			
	body
		nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
			div.container
				div(class="navbar-header")
					button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="#") Autobahn

				div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li
							a(href="http://jawerty.github.io", style="color: #eee") Contact
		block content