extends layout

block content
	h1= title
	video#streamVideo
	script(src='https://code.jquery.com/jquery-2.1.3.min.js')
	script(src='https://cdn.socket.io/socket.io-1.3.4.js')
	script.
		function main(){
			window.URL = window.URL || window.webkitURL;
			window.MediaSource = window.MediaSource || window.WebKitMediaSource;

			if(typeof window.MediaSource == "undefined" || window.MediaSource === null)
			{
				alert('MediaSource API is not available!');
				return;
			}

			var mediaSource = new MediaSource();    
			var video = document.getElementById('streamVideo');

			video.src = window.URL.createObjectURL(mediaSource);

			mediaSource.addEventListener('webkitsourceopen', function(e)
			{
				console.log("Source opening")
				var sourceBuffer = mediaSource.addSourceBuffer('video/webm; codecs="vorbis,vp8"');
				var socket = io.connect('http://ssjc-app.herokuapp.com');

				if(socket) console.log('Socket.io Working');

				socket.on('clientStream', function (data) 
				{
					console.log(data);
					sourceBuffer.append(data);
				});
			});
		}

		main();
			

