extends layout

block content
	h1= title
	video#streamVideo
	script(src='https://cdn.socket.io/socket.io-1.3.4.js')
	script.
		window.URL = window.URL || window.webkitURL;
		window.MediaSource = window.MediaSource || window.WebKitMediaSource;

		if(!!! window.MediaSource)
		{
			alert('MediaSource API is not available!');
			return;
		}

		var mediaSource = new MediaSource();    
		var video = document.getElementById('streamVideo');

		video.src = window.URL.createObjectURL(mediaSource);

		mediaSource.addEventListener('webkitsourceopen', function(e)
		{
			var sourceBuffer = mediaSource.addSourceBuffer('video/webm; codecs="vorbis,vp8"');
			var socket = io.connect('http://ssjc-app.herokuapp.com');

			if(socket)
				console.log('Library retrieved!');

			socket.emit('VIDEO_STREAM_REQ','REQUEST');

			socket.on('VS', function (data) 
			{
				console.log(data);
				sourceBuffer.append(data);
			});
		});

