body {
	font-family: sans-serif;
	color: #fff;
}
img {
	width: 200px;
}
#header {
	background-color: #69D2E7;
	text-align:center;
	width: 100%;
	border-bottom: 1px solid #fff;
}
#content {
	text-align:center;
}
#video {
	margin: 0 auto;
}